<app-status-bar></app-status-bar>

<h3>Puzzle 1</h3>

<div *ngIf="puzzleStep===0">
  Enter the code to turn off the lasers:
  <br>
  <div class="text-danger">{{ FailureText }}</div>
  <br>
  <input type="text" [(ngModel)]="inputAnswer" id="inputAnswer" class="form-control" placeholder="Enter code" required autofocus>
  <br>
  <button (click)="submitAnswer()" class="btn btn-lg btn-primary btn-block mb-4">Submit</button>
</div>

<div *ngIf="puzzleStep===1">
  Great job! The lasers have powered down. Open Envelope 1 (en-1).
  <br><br>
  <button routerLink="/m1p2" class="btn btn-lg btn-primary btn-block mb-4">Continue</button>
</div>
