<app-status-bar></app-status-bar>

<h3>Puzzle 6</h3>

<div *ngIf="puzzleStep===0">
  Enter the code:
  <br>
  <label for="inputAnswer" class="sr-only">Enter the code:</label>
      <input type="text" id="inputAnswer" class="form-control" placeholder="Enter the code:" required autofocus>
  <br>
  <button (click)="submitAnswer()" class="btn btn-lg btn-primary btn-block mb-4">Submit</button>
</div>

<div *ngIf="puzzleStep===1">
  Puzzle Response Success!!!
  <br>
  <button routerLink="/m1finish" class="btn btn-lg btn-primary btn-block mb-4">Continue</button>
</div>
