<app-status-bar></app-status-bar>

<h3>Mission 1</h3>

<div class="card mx-auto" style="width: 22rem;">There’s been an explosion at an underground research facility, and dangerous chemicals are seeping into the foundation. MacGyver has been called in to stop the contaminating leak before it causes further damage and spreads to the land’s water reservoirs. Help MacGyver navigate the damaged lab, plug the source of the leak and escape before it’s too late!</div>
<p>&nbsp;</p>
<p>Open scenario envelope 1</p>
<p>Take out contents</p>

<button routerLink="/m1p1" class="btn btn-lg btn-primary btn-block mb-4">Next</button>
